{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#<div class="container">#}
{#  <div class="row">#}
{##}
{##}
{#    {% block preproduct %}{% endblock %}#}
{#    {% block product_content %}{% endblock %}#}
{##}
{##}
{#    {% if order_show %}#}
{#    <div class='overlay active' id='menu-search-overlay'>#}
{#      <header class='header'>#}
{##}
{#          <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="close" value=1>#}
{#              <button class='icon close' name="close1"></button>#}
{#          </form>#}
{#      </header>#}
{##}
{#      <div class='body'>#}
{#        <div class='field search'>#}
{#          <img src='https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-search.svg' class='icon'/>#}
{#          <input type='text' id='menu-search-input' placeholder='搜索菜单'/>#}
{#        </div>#}
{#        <div id='menu-search-empty'></div>#}
{#        <ul class='grid columns-4 padded-2' id='menu-search-results'></ul>#}
{#      </div>#}
{#    </div>#}
{#    {% endif %}#}
{##}
{#    <form action="" method="post">#}
{#    {% csrf_token %}#}
{#    <input type="hidden" name="show" value=1>#}
{#        <div class='frap'>#}
{#            <button id="featured-campaign-search" class='button primary trigger' rel='menu-search-overlay' name="show1">当前订单</button>#}
{#        </div>#}
{#    </form>#}
{##}
{##}
{##}
{#  </div>#}
{##}
{#</div>#}

{#{% endblock %}#}
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>校园食堂外送点餐系统</title>
        <link rel='stylesheet' href='https://www-static.chinacdn.starbucks.com.cn/prod/assets/styles.css?202212201853'>
    <script async charset="UTF-8" src="https://active.starbucks.com.cn/sensorsdata/JS%20SDK/sa-sdk-javascript-1.22.7/sensorsdata.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- Alternative to Bootstrap 3 Glyphicons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


{#    <script charset="UTF-8">#}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'css/master.css' %}">

</head>
<style>
    	.table th, .table td {
    		text-align: center;
    		vertical-align: middle!important;
    	}
        .li_{
            display:block;
            overflow:hidden;
            word-break:keep-all;
            white-space:nowrap;
            text-overflow:ellipsis;
            font-size: 12px;
            list-style:none;
            padding-left: 10px;
            display: inline"
            {#width: 100px;#}
            {#height: 200px;#}
        }

</style>

{#<body>#}
{#<nav class="navbar navbar-expand-lg bg-dark mynav" role="navigation" id="navbar">#}
{#    <div class="container" style="width: 100%; padding-bottom: 5px; padding-top: 5px; margin-right: auto;margin-left: auto;"> {# style="width: 100%;padding-right: 15px;padding-bottom: 5px; padding-top: 5px; margin-right: auto;margin-left: auto;" #}
{#        <div class="navbar-nav align-items-center">#}
{#            <a class="navbar-brand mynav" href="#" style="font-size: 20px">校园食堂外送点餐系统</a>#}
{#        </div>#}
{#        <div class="navbar-nav" style="font-size: 16px">#}
{#            <a class="nav-item nav-link" href="/" class="btn btn-simple">食堂</a>#}
{#            <a class="nav-item nav-link" href="/store" class="btn btn-simple">窗口</a>#}
{#            <a class="nav-item nav-link" href="/dish" class="btn btn-simple">菜品</a>#}
{#            <a class="nav-item nav-link" href="/order" class="btn btn-simple">我的订单</a>#}
{#            <a class="nav-item nav-link" href="/user/info" class="btn btn-simple">个人中心</a>#}
{#        </div>#}
{##}
{#        <div class="navbar-nav ml-auto" style="font-size: 16px">#}
{#            {% if request.session.is_login %}#}
{#            <a class="nav-item nav-link"  href="#"  class="nav-item nav-link" >当前在线：{{ request.session.user_name }}</a>#}
{#            <a class="nav-item nav-link"  href="/user/logout/"  class="nav-item nav-link" >退出</a>#}
{#            {% else %}#}
{#            <a class="nav-item nav-link" href="/admin/" class="nav-item nav-link" >管理员登录</a>#}
{#            <a class="nav-item nav-link" href="/user/login/" class="nav-item nav-link" >顾客登录</a>#}
{#            <a class="nav-item nav-link" href="/user/register/" class="btn btn-simple">顾客注册</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<body style="background-image: url('/static/images/background.webp')">
<nav class="navbar navbar-expand-lg  mynav" role="navigation" id="navbar" style="background: burlywood;">
    <div class="container"style="width: 100%; padding-bottom: 5px; padding-top: 5px; margin-right: auto;margin-left: auto;"> {# style="width: 100%;padding-right: 15px;padding-bottom: 5px; padding-top: 5px; margin-right: auto;margin-left: auto;" #}
        <div class="navbar-nav align-items-center">
            <a class="navbar-brand mynav" href="#" style="font-size: 20px;color: white">校园食堂外送点餐系统</a>
        </div>
        <div class="navbar-nav" style="font-size: 16px;color: white">
            <a class="nav-item nav-link" href="/" class="btn btn-simple" style="color: white">食堂</a>
            <a class="nav-item nav-link" href="/store" class="btn btn-simple" style="color: white">窗口</a>
            <a class="nav-item nav-link" href="/dish" class="btn btn-simple" style="color: white">菜品</a>
            <a class="nav-item nav-link" href="/order" class="btn btn-simple" style="color: white">我的订单</a>
            <a class="nav-item nav-link" href="/user/info" class="btn btn-simple" style="color: white">个人中心</a>
        </div>

        <div class="navbar-nav ml-auto" style="font-size: 16px">
            {% if request.session.is_login %}
            <a class="nav-item nav-link"  href="#"  class="nav-item nav-link" style="color: white">当前在线：{{ request.session.user_name }}</a>
            <a class="nav-item nav-link"  href="/user/logout/"  class="nav-item nav-link" style="color: white">退出</a>
            {% else %}
{#            <a class="nav-item nav-link" href="/admin/" class="nav-item nav-link" >管理员登录</a>#}
            <a class="nav-item nav-link" href="/user/login/" class="nav-item nav-link" style="color: white">登录</a>
            <a class="nav-item nav-link" href="/user/register/" class="btn btn-simple"style="color: white">顾客注册</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="messages">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container mycontent">
<div class="container">
  <div class="row">


    {% block preproduct %}{% endblock %}
    {% block product_content %}{% endblock %}


    {% if order_show %}
    <div class='overlay active' id='menu-search-overlay'>
      <header class='header'>

          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="close" value=1>
              <button class='icon close' name="close1"></button>
          </form>
      </header>

      <div class='body'>
        <h2 style="text-align:center; font-weight:bold; font-size: 24px; margin-bottom: 20px">订单详情</h2>
        <form  action="" method="post">
        {% csrf_token %}
        <ul class='flex justify-around logging-in-element', >
            <li class="li_">
                <p><strong>订单编号：</strong>{{ order.indent_id }}</p>
            </li>
            <li class="li_">
                <p><strong>创建时间：</strong>{{ order.date_time }}</p>
            </li>
            <li class="li_">
                <p><strong>所选食堂：</strong>{{ order.canteen.canteen_name }}</p>
            </li>
            <li class="li_">
                <p><strong>所选商家：</strong>{{ order.store.store_name }}</p>
            </li>
            <li class="li_">
                <p><strong>联系方式：</strong>{{ order.customer.customer_phone }}</p>
            </li>


            <li style="list-style: none">

{#              <p>#}
{#                  <label>#}
                    <strong>地址：</strong>
                    <select name="select_address">
                        <option selected value="{{ order.indent_address.address_id }}">{{ order.indent_address.toStr }}</option>
                        {% for i in order.customer.addresses.all %}
                            <option value="{{ i.address_id }}">{{ i.toStr }}</option>
                        {% endfor %}
                    </select>
{#                  </label>#}
{#              </p>#}
{#              <input type="submit" value="确定">#}

            </li>

            <li class="li_">
                <p><strong>订单状态：</strong>{{ order.indent_state }}</p>
            </li>
            <li class="li_">
                <p><strong>订单总价：</strong>{{ order.indent_price }}</p>
            </li>
        </ul>
        <div class="table-responsive text-nowrap">

            <table class="table table-striped" style="font-size: 12px">
                <thead>
                <tr>
                    <th scope="col">编号</th>
                    <th scope="col">菜品</th>
                    <th scope="col">菜品单价</th>
                    <th scope="col">菜品数量</th>
                </tr>
                </thead>
                <tbody>
                {% for dish in dish_list_ %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dish.dish_name }}</td>
                    <td>{{ dish.dish_price }}</td>
                    <td>{{ dish.dish_num }}</td>
                </tr>
{#                {% empty %}#}
                    {% empty %}
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div style="padding-left: 200px;padding-right: 200px;">
{#          <button type="reset" class="btn btn-default pull-left" style=" font-size: large">取消订单</button>#}
          <a class="btn btn-default pull-left" style=" font-size: large"
                                       href="{{ order.del_order_url }}">取消订单</a>
          <button type="submit" class="btn btn-primary pull-right" style=" font-size: large">下单</button>
        </div>
        </form>
    </div>

    {% endif %}
{#    显示当前订单 #}
    {% if request.session.label == 0 %}
    <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="show" value=1>
        <div class='frap'>
            <button class='button primary trigger' rel='menu-search-overlay' name="show1" style="font-size: 16px">当前订单</button>
        </div>
    </form>
    {% endif %}



  </div>

</div>

</div>

<canvas id="canvas"></canvas>


<!-- Latest compiled and minified jQuery -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>